@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100%;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6, .navbar-brand, .nav-link-custom, .btn {
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}

body{
  overflow-x:hidden;
  background:#f9f9f9;
}


a{
  text-decoration:none;
}

img{
  max-width:100%;
  display:block;
}

button{
  cursor:pointer;
}

.app-wrapper{
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

.main-content{
  flex:1;
}